:root {
  --font: Arial, sans-serif;
  --transition-min: .3s ease-in-out;
  --transition-max: 1.2s ease-in;
  --gray-inset: #abb3ba;
  --gray-light: #292929;
  --gray-dark: #242424;
  --white: #fff;
  --black: #000;
}

html {
  box-sizing: border-box !important;
  font-size: 100%;
}

html:has(.loader--hidden) {
  overflow: visible;
}

*,
:after,
:before {
  box-sizing: inherit !important;
}

body {
  font-family: var(--font);
  color: var(--black);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body canvas {
  position: absolute;
  top: 12.5rem;
  right: 0;
}

body .overlay {
  background: rgba(0, 0, 0, .8);
  transition: opacity .2s;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  opacity: 0;
}

body .overlay .cancel {
  cursor: default;
  position: absolute;
  height: 100%;
  width: 100%;
}

body .overlay:target {
  visibility: visible;
  opacity: 1;
}

body .popup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  margin: 6.25rem auto;
  max-width: 26rem;
  padding: 2.5rem;
  position: relative;
}

body .popup form,
body .popup p {
  text-align: center;
}

body .popup .btn,
body .popup input {
  width: 100%;
}

body .popup .close {
  color: var(--black);
  font-size: 1.875rem;
  font-weight: 700;
  position: absolute;
  top: .625rem;
  right: .9375rem;
  text-align: center;
  text-decoration: none;
  transition: all .2s;
  width: 1.25rem;
}

body .popup .btn,
body .popup input {
  margin-top: 1.25rem;
}

body .wave {
  bottom: -.5rem;
  height: 6.25rem;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

body .wave__inner {
  background: url(../images/wave.png) 0/50% 6.25rem;
  animation: wave 15s linear infinite;
  transform-origin: 0 100%;
  position: absolute;
  width: 200%;
  height: 99%;
}

body .loader {
  background-color: var(--gray-light);
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 50;
}

body .loader--hidden {
  visibility: hidden;
  opacity: 0;
}

body .loader svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg) scale(1);
}

body .loader .line {
  stroke: var(--gray-dark);
}

body .loader .line__animation {
  animation: loading var(--transition-max) infinite;
}

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0 0 2.5rem;
  position: relative;
  text-transform: uppercase;
}

h1 {
  font-size: 2.3rem;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.2rem;
}

a {
  color: var(--black);
  display: inline-block;
  text-decoration: none;
}

input,
textarea {
  border: .125rem solid var(--gray-inset);
  padding: .75rem 1.25rem;
}

textarea {
  font-family: var(--font);
  height: 10rem;
  width: 100%;
  resize: none;
  margin-bottom: 1rem;
}

.btn,
input[type=submit] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border: .125rem solid var(--black);
  color: var(--black);
  box-shadow: none;
  cursor: pointer;
  overflow: hidden;
  font-weight: 700;
  font-size: 1.125rem;
  padding: .3125rem 1.25rem;
  transition: var(--transition-min);
}

.btn img,
input[type=submit] img {
  position: relative;
  left: 4.375rem;
  transition: var(--transition-min);
  height: 2.25rem;
  width: 2.25rem;
}

.btn:hover,
input[type=submit]:hover {
  background-color: var(--black);
  color: var(--white);
}

.btn:hover img,
input[type=submit]:hover img {
  left: .5rem;
  fill: #fff;
}

.logo {
  color: var(--black);
  font-size: 1.875rem;
  padding: 1rem 0 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  width: 11rem;
  z-index: 2;
}

.logo img {
  max-width: 3.125rem;
}

.container {
  margin: 0 auto;
  max-width: 75rem;
  padding: 0 1.5625rem;
  position: relative;
}

.header {
  background-color: var(--white);
  font-weight: 700;
}

.header .menu {
  box-shadow: 0 0 .625rem var(--gray-inset) inset;
  background: var(--white);
  width: 100%;
}

.header .menu>* {
  height: 4.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero,
.main {
  flex-grow: 1;
}

.hero {
  background-color: var(--black);
  color: var(--white);
  font-size: 2.5rem;
  min-height: 35rem;
  position: relative;
}

.hero__inner {
  transform: translateY(50%);
  max-width: 31.25rem;
  padding: 3.75rem 0;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  margin-top: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__inner,
.form__tel {
  display: flex;
  justify-content: space-evenly;
}

.form__inner {
  width: 100%;
}

.form__tel input {
  width: 15rem;
  margin-right: 1rem;
}

footer {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
}

@keyframes loading {
  0% {
    stroke: var(--white);
    stroke-dasharray: 0 200;
  }

  50% {
    stroke-dashoffset: 0;
    stroke-dasharray: 200 200;
  }

  to {
    stroke: var(--white);
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
  }
}

@keyframes wave {
  0% {
    transform: translateX(0) scaleY(1);
  }

  50% {
    transform: translateX(-25%) scaleY(.55);
  }

  to {
    transform: translateX(-50%) scaleY(1);
  }
}

@media (max-width:71.8125em) {
  body {
    text-align: center;
  }

  body canvas {
    display: none !important;
  }

  .hero__inner {
    margin: 0 auto;
  }

  .hero {
    min-height: 27.5rem;
  }
}

@media (max-width:50.85em) {
  body {
    overflow-y: visible;
  }

  body .popup {
    max-width: 18rem;
  }

  body .popup .btn {
    padding: .75rem 1.25rem;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  #login {
    max-width: 12.5rem;
  }

  .menu {
    height: 9rem;
  }

  .menu>* {
    flex-direction: column;
  }

  .btn {
    padding: 1.5rem 1.25rem;
    text-align: center;
  }

  .btn img {
    display: none;
  }

  .hero__inner h1 {
    font-size: 1.4rem;
  }

  .hero__inner p {
    font-size: 1rem;
  }
}
